<%- include('header.ejs') %>
<body>
    
    <h1>Welcome to Ilay's Blog!</h1>
    <div>
        <h2>Post Creation:</h2>
        <form action="/createpost" method="POST">
            <label for="Post Creation">Enter your post:</label><br>
            <input type="text" id="fname" name="post"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div>
        <h2>Exsiting posts:</h2>
        <% for(let i=0;i<posts.length;i++){ %>
            <li style="list-style-type: none;">
                <p style="font-size: 18px;"><%= posts[i].post %></p>
                <br/>
                <p style="font-size: 12px;"><%= posts[i].date %></p>
                <form action="/edit" method="GET" style="display:inline;">
                    <input type="hidden" name="id" value="<%= posts[i].id %>" />
                    <button type="submit">Edit</button>
                </form>
                <form action="/deletepost" method ="POST" style="display: inline;">
                    <input type="hidden" name="id" value="<%= posts[i].id %>" />
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% } %>
    </div>
    
</body>

<%- include('footer.ejs') %>